/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [Statistix]    Script Date: 14-1-2018 21:41:07 ******/
CREATE DATABASE [Statistix]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Statistix', FILENAME = N'C:\School\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Statistix.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Statistix_log', FILENAME = N'C:\School\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Statistix_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
ALTER DATABASE [Statistix] ADD FILEGROUP [READONLYTABLES]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Statistix].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Statistix]
GO
USE [Statistix]
GO
/****** Object:  Table [dbo].[Episode]    Script Date: 14-1-2018 21:41:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Episode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProgramId] [int] NOT NULL,
	[SerieId] [int] NOT NULL,
	[Season] [varchar](8) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Duration] [time](7) NOT NULL,
 CONSTRAINT [PK_Table1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 14-1-2018 21:41:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProgramId] [int] NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[MinimalAge] [nchar](2) NOT NULL,
	[Language] [varchar](25) NOT NULL,
	[Duration] [time](7) NOT NULL,
	[Genre] [varchar](25) NOT NULL,
 CONSTRAINT [PK_Movie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profile]    Script Date: 14-1-2018 21:41:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProfileName] [varchar](20) NOT NULL,
	[SubscriberId] [int] NOT NULL,
	[DOB] [date] NOT NULL,
 CONSTRAINT [PK_Profile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Program]    Script Date: 14-1-2018 21:41:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Program](
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_Program] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Serie]    Script Date: 14-1-2018 21:41:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Serie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Genre] [varchar](25) NOT NULL,
	[Language] [varchar](50) NOT NULL,
	[MinimalAge] [nchar](2) NOT NULL,
	[Similar] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Serie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscriber]    Script Date: 14-1-2018 21:41:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscriber](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](50) NOT NULL,
	[Street] [varchar](70) NOT NULL,
	[ZipCode] [varchar](6) NOT NULL,
	[HouseNumber] [nvarchar](5) NOT NULL,
	[City] [varchar](25) NOT NULL,
 CONSTRAINT [PK_Subscriber] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Watched]    Script Date: 14-1-2018 21:41:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Watched](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProgramId] [int] NOT NULL,
	[ProfileId] [int] NOT NULL,
	[PercentWatched] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_Watched] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Episode] ON 

INSERT [dbo].[Episode] ([Id], [ProgramId], [SerieId], [Season], [Title], [Duration]) VALUES (1, 1, 7, N'1', N' The Vanishing of Will Byers', CAST(N'00:48:30' AS Time))
INSERT [dbo].[Episode] ([Id], [ProgramId], [SerieId], [Season], [Title], [Duration]) VALUES (2, 2, 12, N'2', N'White Bear', CAST(N'00:42:22' AS Time))
INSERT [dbo].[Episode] ([Id], [ProgramId], [SerieId], [Season], [Title], [Duration]) VALUES (3, 3, 12, N'2', N'White Christmas', CAST(N'01:13:44' AS Time))
SET IDENTITY_INSERT [dbo].[Episode] OFF
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([Id], [ProgramId], [Title], [MinimalAge], [Language], [Duration], [Genre]) VALUES (1, 7, N'Be somebody', N'0 ', N'English', CAST(N'01:27:00' AS Time), N'Romance')
INSERT [dbo].[Movie] ([Id], [ProgramId], [Title], [MinimalAge], [Language], [Duration], [Genre]) VALUES (2, 8, N'Dirty grandpa', N'12', N'English', CAST(N'01:41:00' AS Time), N'Comedy')
INSERT [dbo].[Movie] ([Id], [ProgramId], [Title], [MinimalAge], [Language], [Duration], [Genre]) VALUES (3, 9, N'Soof', N'12', N'Dutch', CAST(N'01:39:00' AS Time), N'Comedy')
SET IDENTITY_INSERT [dbo].[Movie] OFF
SET IDENTITY_INSERT [dbo].[Profile] ON 

INSERT [dbo].[Profile] ([Id], [ProfileName], [SubscriberId], [DOB]) VALUES (4, N'Ricky', 1, CAST(N'1995-09-20' AS Date))
INSERT [dbo].[Profile] ([Id], [ProfileName], [SubscriberId], [DOB]) VALUES (5, N'Ayman', 2, CAST(N'1984-05-18' AS Date))
INSERT [dbo].[Profile] ([Id], [ProfileName], [SubscriberId], [DOB]) VALUES (6, N'Nadia', 3, CAST(N'1983-06-08' AS Date))
SET IDENTITY_INSERT [dbo].[Profile] OFF
INSERT [dbo].[Program] ([Id]) VALUES (1)
INSERT [dbo].[Program] ([Id]) VALUES (2)
INSERT [dbo].[Program] ([Id]) VALUES (3)
SET IDENTITY_INSERT [dbo].[Serie] ON 

INSERT [dbo].[Serie] ([Id], [Title], [Genre], [Language], [MinimalAge], [Similar]) VALUES (2, N'Prison break', N'Action', N'English', N'12', N'Homeland')
INSERT [dbo].[Serie] ([Id], [Title], [Genre], [Language], [MinimalAge], [Similar]) VALUES (3, N'How I met your mother', N'Comedy', N'English', N'AL', N'New girl')
INSERT [dbo].[Serie] ([Id], [Title], [Genre], [Language], [MinimalAge], [Similar]) VALUES (4, N'Sherlock', N'Thriller', N'English', N'12', N'Luther')
SET IDENTITY_INSERT [dbo].[Serie] OFF
SET IDENTITY_INSERT [dbo].[Subscriber] ON 

INSERT [dbo].[Subscriber] ([Id], [FullName], [Street], [ZipCode], [HouseNumber], [City]) VALUES (1, N'Rene Nelson', N'Carmenstraat', N'5681GA', N'100', N'Amersfoort')
INSERT [dbo].[Subscriber] ([Id], [FullName], [Street], [ZipCode], [HouseNumber], [City]) VALUES (2, N'Gaston den Blanken', N'Croystraat', N'3077HC', N'47', N'Rotterdam')
INSERT [dbo].[Subscriber] ([Id], [FullName], [Street], [ZipCode], [HouseNumber], [City]) VALUES (3, N'Annieck Piet', N'Zuringes', N'9407CA', N'2', N'Assen')
SET IDENTITY_INSERT [dbo].[Subscriber] OFF
SET IDENTITY_INSERT [dbo].[Watched] ON 

INSERT [dbo].[Watched] ([Id], [ProgramId], [ProfileId], [PercentWatched]) VALUES (4, 1, 4, N'100')
INSERT [dbo].[Watched] ([Id], [ProgramId], [ProfileId], [PercentWatched]) VALUES (5, 8, 4, N'100')
INSERT [dbo].[Watched] ([Id], [ProgramId], [ProfileId], [PercentWatched]) VALUES (6, 3, 4, N'25')
SET IDENTITY_INSERT [dbo].[Watched] OFF
ALTER TABLE [dbo].[Episode]  WITH CHECK ADD  CONSTRAINT [FK_Episode_Program] FOREIGN KEY([ProgramId])
REFERENCES [dbo].[Program] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Episode] CHECK CONSTRAINT [FK_Episode_Program]
GO
ALTER TABLE [dbo].[Episode]  WITH CHECK ADD  CONSTRAINT [FK_Episode_Serie] FOREIGN KEY([SerieId])
REFERENCES [dbo].[Serie] ([Id])
GO
ALTER TABLE [dbo].[Episode] CHECK CONSTRAINT [FK_Episode_Serie]
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD  CONSTRAINT [FK_Movie_Program] FOREIGN KEY([ProgramId])
REFERENCES [dbo].[Program] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movie] CHECK CONSTRAINT [FK_Movie_Program]
GO
ALTER TABLE [dbo].[Watched]  WITH CHECK ADD  CONSTRAINT [FK_Watched_Profile] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[Profile] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Watched] CHECK CONSTRAINT [FK_Watched_Profile]
GO
ALTER TABLE [dbo].[Watched]  WITH CHECK ADD  CONSTRAINT [FK_Watched_Program] FOREIGN KEY([ProgramId])
REFERENCES [dbo].[Program] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Watched] CHECK CONSTRAINT [FK_Watched_Program]
GO
USE [master]
GO
